@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using MicroClassroom.Enterprise.Localization
@model MicroClassroom.BackendAdminApp.Host.Pages.BannerManagement.NewModel
@inject IHtmlLocalizer<EnterpriseResource> L

@{
    Layout = null;
}
<form method="post" asp-page="/BannerManagement/New">
    <abp-modal>
        <abp-modal-header title="@L["Create"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Banner.Title" label="标题" />
            <abp-input asp-for="Banner.Image" label="图像" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>